@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    color: #0a2ff1;
}

h2{
    font-size: 40px; 
    font-weight: 400;
}
h1{
    font-size: 80px; 
    font-weight: 900;
}
p{
    font-size: 27px; 
    font-weight: 400;
    color: #04146c;

}
stron{
    font-weight: 700;
}
button{
    font-family: 'Mulish', sans-serif;
    font-size: 29px; 
    font-weight: 700;
    background-color: #0a2ff1;
    color: white;
    border: none;
    width: 400px;
    height: 70px;
}